.createForm {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    align-self: center;

    width: 40vw;
    margin-bottom: 1.5vh;
}

.checkboxItem {
    color: #303f9f !important;
}

.checkboxItem + span {  /* sibling */
    padding-top: 5px;
}