.root {
    flex-grow: 1;
}

.link {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;

    margin-right: 1rem;
}

.sepDiv {
    flex-grow: 1;
}

.accountDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.accountText {
    font-size: 0.8rem;
}

.link:hover {
    color: #b5b8e1;
}
